.team {
  display: flex;
  margin-top: 5px;

  div {
    padding-top: 5px;
  }

  img,
  .no-logo {
    padding-right: 5px;
    height: 25px;
    width: 25px;
  }
}

.winner {
  font-weight: bold;
}

.team-name {
  text-align: left;
  min-width: 160px;
  max-width: 160px;
}

.score-display {
  flex: 3;
  text-align: left;
}

.chevron::before {
  font-size: 10px;
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  content: '';
  display: inline-block;
  height: 0.45em;
  left: 0.15em;
  position: relative;
  top: 0.38em;
  transform: rotate(-45deg);
  vertical-align: middle;
  width: 0.45em;
}

.chevron.left:before {
  left: 0.05em;
  transform: rotate(-135deg);
}
