<table class="values">
  <thead>
    <tr>
      <th class="player">Player</th>
      <th class="stat" *ngFor="let desc of teamStats.labels">
        {{ desc }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let player of teamStats.players; let i = index">
      <td class="player">
        <div class="player-number">{{ player.number }}</div>
        <div class="player-name">{{ player.name }}</div>  
        <div class="player-position">{{ player.position }}</div>
      </td>
      <td class="stat" *ngFor="let playerStat of player.stats">
        {{ playerStat }}
      </td>
    </tr>
  </tbody>
</table>
