<mat-card class="score">
  <mat-card-content class="score-content">
    <div class="teams">
      <app-team-score [scoreItem]="score.awayScore" [displayScore]="displayScore"></app-team-score>
      <app-team-score [scoreItem]="score.homeScore" [displayScore]="displayScore"></app-team-score>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="status">
      {{ score.status }}
      <ng-content select="[status]"></ng-content>
    </div>
  </mat-card-content>
  <mat-card-actions class="actions">
    <button
      mat-stroked-button
      color="primary"
      (click)="handleBoxClick(score.id)"
    >
      Box Score
    </button>
  </mat-card-actions>
</mat-card>
