<ng-container *ngIf="!!boxScore; else loading">
  <app-box-score [boxScore]="boxScore">
    <div *ngIf="hasGameStarted" class="line-score">
      <table>
        <tr>
          <th class="line-score-team">Team</th>
          <th
            *ngFor="
              let lineScore of getLineScore(boxScore.awayScore.lineScores);
              let i = index
            "
          >
            <span class="quarter-data">{{
              i < 4 ? i + 1 : 'OT' + (i - 3)
            }}</span>
          </th>
          <th class="quarter-data">T</th>
        </tr>
        <tr class="team-line-score">
          <td class="line-score-team">
            {{ boxScore.awayScore.teamAbbreviation }}
          </td>
          <td
            class="quarter-data"
            *ngFor="let score of getLineScore(boxScore.awayScore.lineScores)"
          >
            {{ score }}
          </td>
          <td class="quarter-data">{{ boxScore.awayScore.score }}</td>
        </tr>
        <tr class="team-line-score">
          <td class="line-score-team">
            {{ boxScore.homeScore.teamAbbreviation }}
          </td>
          <td
            class="quarter-data"
            *ngFor="let score of getLineScore(boxScore.homeScore.lineScores)"
          >
            {{ score }}
          </td>
          <td class="quarter-data">{{ boxScore.homeScore.score }}</td>
        </tr>
      </table>
    </div>
    <div
      *ngIf="
        hasGameStarted && !boxScore.completed && !!boxScore.lastPlay
      "
      class="situation"
    >
      <span class="down-distance">{{ boxScore.lastPlay }}</span>
    </div>
  </app-box-score>
  <ng-container *ngIf="hasGameStarted && boxScore.awayPlayerStats">
    <mat-card class="stat-options">
      <mat-card-content class="content">
        <mat-button-toggle-group
          name="statPage"
          aria-label="Stat Page"
          [value]="statPage"
          (change)="showStatPage($event)"
        >
          <mat-button-toggle class="stat-option" value="away">{{
            boxScore.awayScore.teamAbbreviation
          }}</mat-button-toggle>
          <mat-button-toggle class="stat-option" value="summary"
            >Game Summary</mat-button-toggle
          >
          <mat-button-toggle class="stat-option" value="home">{{
            boxScore.homeScore.teamAbbreviation
          }}</mat-button-toggle>
        </mat-button-toggle-group>
      </mat-card-content>
    </mat-card>
    <app-ncaa-football-player-stats
      *ngIf="statPage === 'away'"
      [playerStats]="boxScore.awayPlayerStats"
    >
    </app-ncaa-football-player-stats>
    <app-ncaa-football-player-stats
      *ngIf="statPage === 'home'"
      [playerStats]="boxScore.homePlayerStats"
    >
    </app-ncaa-football-player-stats>
    <app-ncaa-football-team-stats
      *ngIf="statPage === 'summary'"
      [boxScore]="boxScore"
    ></app-ncaa-football-team-stats>
  </ng-container>
</ng-container>

<ng-template #loading>
  <app-loading-spinner></app-loading-spinner>
</ng-template>
