.line-score {
  display: flex;
  align-items: top;
  justify-content: center;
}

.line-score-team {
  width: 50px;
}

.team-line-score {
  text-align: center;
}

.quarter-data {
  width: 20px;
}

.stat-options {
  display: flex;
  width: 800px;
  justify-content: center;
  text-align: center;
  border-top: 1px solid gray;
}

.situation {
  padding-top: 10px;
  text-align: center;
}

.stat-option {
  width: 250px;
}

app-loading-spinner {
  margin-top: 10px;
}
