<mat-card *ngIf="boxScore" class="container">
  <mat-card-content class="content">
    <div class="header">
      <div class="score-main" [class.score-divider]="hasGameStarted">
        <div class="team-score">
          <div class="team">
            <img [src]="boxScore.awayScore.logo" />
            <span class="team-name">{{ boxScore.awayScore.team }}</span>
            <span class="record">({{ boxScore.awayScore.record }})</span>
          </div>
        </div>
        <div class="game-status">
          <div *ngIf="hasGameStarted" class="scores">
            <span class="score">
              {{ boxScore.awayScore.score }}
            </span>
            <span class="spacer">-</span>
            <span class="score">
              {{ boxScore.homeScore.score }}
            </span>
          </div>
          <span class="status">{{ boxScore.status }}</span>
        </div>
        <div class="team-score">
          <div class="team">
            <img [src]="boxScore.homeScore.logo" />
            <span class="team-name">{{ boxScore.homeScore.team }}</span>
            <span class="record">({{ boxScore.homeScore.record }})</span>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="hasGameStarted" class="line-score">
      <table>
        <tr>
          <th class="line-score-team">Team</th>
          <th *ngFor="let lineScore of getLineScore(boxScore.awayScore.lineScores); let i = index">
            <span class="inning-data">{{i + 1}}</span>
          </th>
          <th class="inning-data">R</th>
          <th class="inning-data">H</th>
          <th class="inning-data">E</th>
        </tr>
        <tr class="team-line-score">
          <td class="line-score-team">{{boxScore.awayScore.teamAbbreviation}}</td>
          <td class="inning-data" *ngFor="let score of getLineScore(boxScore.awayScore.lineScores)">
            {{score}}
          </td>
          <td class="inning-data">{{boxScore.awayScore.score}}</td>
          <td class="inning-data">{{boxScore.awayScore.hits}}</td>
          <td class="inning-data">{{boxScore.awayScore.errors}}</td>
        </tr>
        <tr class="team-line-score">
          <td class="line-score-team">{{boxScore.homeScore.teamAbbreviation}}</td>
          <td class="inning-data" *ngFor="let score of getLineScore(boxScore.homeScore.lineScores)">
            {{score}}
          </td>
          <td class="inning-data">{{boxScore.homeScore.score}}</td>
          <td class="inning-data">{{boxScore.homeScore.hits}}</td>
          <td class="inning-data">{{boxScore.homeScore.errors}}</td>
        </tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>
