.line-score {
  display: flex;
  align-items: top;
  justify-content: center;
}

.line-score-team {
  width: 50px;
}

.team-line-score {
  text-align: center;
}

.inning-data {
  width: 20px;
}

.stat-options {
  display: flex;
  width: 800px;
  justify-content: center;
  text-align: center;
  border-top: 1px solid gray;
}

.stat-option {
  width: 250px;
}
