<mat-card class="stats-container">
  <mat-card-content class="content">
    <h3>Batting</h3>
    <div class="stats">
      <app-mlb-stat-table
        [teamStats]="battingStats"
        [type]="'batting'"
      ></app-mlb-stat-table>
      <app-mlb-stat-notes [notes]="battingNotes"></app-mlb-stat-notes>
    </div>
    <h3>Pitching</h3>
    <div class="stats">
      <app-mlb-stat-table
        [teamStats]="pitchingStats"
        [type]="'pitching'"
      ></app-mlb-stat-table>
    </div>
  </mat-card-content>
</mat-card>
